<div class="project-cards">
  <div class="card">
    <img src="./assets/imgs/chart-screenshot.png" alt="screenshot" />
    <h2 class="card-name">Tip Calculator</h2>
    <ul class="card-tags">
      <li>Vanilla JS</li>
      <li>CSS Grid</li>
    </ul>
    <p class="card-description">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore excepturi
      labore reiciendis, odit, laboriosam eveniet et in aliquam dignissimos?
    </p>
    <div class="card-links">
      <a href="" target="_blank">Live Site</a><span class="light"> | </span
      ><a href="" target="_blank">Github Repo</a>
    </div>
  </div>
</div>
