<div class="project-cards">
  <div *ngFor="let project of projects; let i = index" class="card">
    <a [href]="project.liveLink" target="_blank"
      ><img [src]="project.imgUrl" alt="screenshot"
    /></a>
    <h2 class="card-name">{{ project.title }}</h2>
    <ul class="card-tags">
      <li *ngFor="let tag of project.tags">{{ tag }}</li>
    </ul>
    <p class="card-description">
      {{ project.description }}
    </p>
    <div class="card-links">
      <a [href]="project.liveLink" target="_blank">Live Site</a>
      <span *ngIf="project.repoLink">
        <span class="light"> | </span
        ><a [href]="project.repoLink" target="_blank">Github Repo</a>
      </span>
    </div>
  </div>
</div>
