$color-primary-200: #82c0cc;
$color-primary-400: #489fb5;
$color-primary-600: #16697a;
$color-primary-800: #0c3942;

$neutral-100: hsl(24, 22%, 91%);

.project-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1.2rem;
  margin-left: 3vw;

  @media (min-width: 1250px) {
    margin-left: 0;
  }
}
.card {
  background-color: #f5f5f5;
  padding: 0.5rem;
  border-radius: 0.5rem;
  justify-items: center;
  text-align: center;
  font-size: 1rem;
  position: relative;
  box-shadow: 0px 10px 40px -20px black;

  &-name {
    color: $color-primary-600;
    font: {
      size: 1.5rem;
      weight: 400;
    }
  }
  img {
    // height: 300px;
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
  }
  &-tags {
    justify-items: center;
    * {
      display: inline-block;
      font-family: "Roboto Slab", serif;
      background-color: $neutral-100;
      padding: 0.25rem;
      margin: 0.3rem;
    }
  }
  &-description {
    text-align: left;
    color: $color-primary-800;
    max-width: 60ch;
    padding: 0.5rem;
    margin-inline: auto;
    margin-bottom: 1.5rem;
  }
  &-links {
    color: $color-primary-600;
    position: absolute;
    inset-inline: 1rem;
    margin: 0;
    bottom: 0.5rem;
  }
}

img {
  width: 100%;
  // object-fit: scale-down;
  border-radius: 0.3rem;
}
