<header class="header">
  <h1>
    <a routerLink="" routerLinkActive="active">Trey Willetto</a
    ><span class="accent header-divider">|</span>
  </h1>
  <nav>
    <a routerLink="projects" routerLinkActive="active">projects</a>
    <span class="light"> - </span>
    <a routerLink="skills" routerLinkActive="active">skills</a>
    <span class="light"> - </span>
    <a routerLink="resume" routerLinkActive="active">resume</a>
    <span class="light"> - </span>
    <a routerLink="contact" routerLinkActive="active">contact</a>
  </nav>
</header>
<main [@routeAnimations]="prepareRoute(outlet)" class="content">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
