<table class="resume">
  <dt class="title">Education:</dt>
  <dd class="tags">
    Baylor University | B.A Secondary Education in English | 2013
  </dd>
  <dt class="title">Certificates<br />& Classes:</dt>
  <dd class="tags">
    <ul>
      <li>Beyond CSS: A Sass Class | Kevin Powell | Ongoing</li>
      <li>Svelte.js: THe COmplete Guide | Udemy | Ongoing</li>
      <li>Modern Angular Bootcamp | Udemy | June - Aug 2022</li>
      <li>The Complete JavaScript Course | Udemy | Feb - Apr 2022</li>
      <li>30 Days of JavaScript | Wes Bos | Apr 2022</li>
      <li>Command Line Power User | Wes Bos | Mar 2022</li>
      <li>Responsive Web Design | freeCodeCamp | Jan 2022</li>
    </ul>
  </dd>
  <dt class="title">Work History</dt>
  <dd class="tags">
    <ul>
      <li *ngFor="let job of jobs; let i = index">
        <span class="emph">{{ job.title }} </span>| {{ job.company }} |
        {{ job.location }}
      </li>
    </ul>
  </dd>
</table>
