/* You can add global styles to this file, and also import other style files */
$color-primary-200: #82c0cc;
$color-primary-400: #489fb5;
$color-primary-600: #16697a;
$color-primary-800: #0c3942;

$neutral-100: hsl(24, 28%, 91%);
$neutral-200: hsl(35, 35%, 80%);
$color-accent: hsl(35, 100%, 58%);

$ff-display: "Roboto Slab", serif;
$ff-body: "Heebo", sans-serif;

* {
  margin: 0;
  padding: 0;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  &:hover {
    color: $color-primary-400;
  }
  &:active {
    color: $color-accent;
  }
}
.light {
  color: $color-primary-200;
}
.emph {
  color: $color-primary-400;
}
.accent {
  color: $color-accent;
}

body {
  // background-color: $neutral-100;
  min-height: 100vh;
  overflow-x: hidden;
  background-image: 
  // url(./assets/imgs/uuundulate.svg),
    // url("./assets/imgs/nnnoise.svg"),
    linear-gradient(150deg, $neutral-100, $neutral-200);
  background-size: 2000px, 1000px, auto;
  background-position: center, auto, center;
  font: {
    family: $ff-body;
    weight: 400;
    size: 1.5rem;
  }
  color: $color-primary-800;
  max-width: 1200px;
  margin-inline: auto;
}
.header {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  padding-top: 5vh;
  margin-left: 3vw;
  margin-bottom: 15vh;
  @media (min-width: 1250px) {
    margin-left: 0;
  }

  font: {
    family: $ff-display;
    weight: 200;
    size: 2.5rem;
  }
  letter-spacing: -1px;
  color: $color-primary-600;

  &-divider {
    margin-inline: 5px;
  }
  // a {
  //   &:hover {
  //     color: $color-primary-400;
  //   }
  //   &:active {
  //     color: $color-accent;
  //   }
  // }
}

nav {
  display: inline-block;
  font: {
    family: $ff-body;
    size: 2rem;
  }
  .active {
    color: $color-accent;
  }
}
main {
  margin-bottom: 1rem;
  padding-right: 5vw;
  width: 100%;
  position: relative;
}
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
